{% extends "layout.html" %}

{% block title %}
    Stock Information
{% endblock %}

{% block main %}

     <h1>Welcome</h1>
     You can play a NASDAQ stock simulation game here based on USA stock market.(I'll add SENSEX NIFY later)<br>
     <br>
     We use short codes for all company stocks here<br>
     For eg: use "fb" or "FB" without quotes to buy a share of FaceBook<br>
              or "goog" or "GOOG" without quotes to buy a share of G00GLE<br><br>
     More such short codes<a target="_blank" href="http://www.advfn.com/nasdaq/nasdaq.asp?companies=A"> here</a>

{% endblock %}
